# package src/pkg archives, downloaded sources
*.tar*
*.tgz
*.zip

*-namcap.log
*-build.log
*-package.log

# signed sources
*.asc
*.sig

# subfolders, e.g. source or built package trees, vcs
*/**/

# backup files
*~
*.bak
